<div style="padding: 20px;">
    <a href="" class="btn btn-primary" [routerLink]="['/userForm']">New User</a><br /><br />

    <table class="table table-striped" *ngIf="usersList != null">
        <tr>
            <th>User Id</th>
            <th>User Name</th>
            <th>Address</th>
            <th>Contact No</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <!--<app-user-data-row *ngFor ="let user of usersList" [user] = "user"></app-user-data-row>-->

        <tr *ngFor="let user of usersList">
            <td>{{user.UserId}}</td>
            <td>{{user.UserName}}</td>
            <td>{{user.Address}}</td>
            <td>{{user.ContactNo}}</td>
            <td>{{user.EmailId}}</td>
            <td colspan="2">
                <a href="#" class="text text-success" [routerLink]="['/userForm', user.UserId]">Edit</a>&nbsp;&nbsp;
                <a href="#" class="text text-danger" (click)="deleteUser($event, user.UserId, user.UserName)">Delete</a>
            </td>
        </tr>
    </table>
</div>
