<div style="padding: 20px;">

    
    <span class="alert alert-danger" *ngIf = "isError">{{error}}</span>

    <form [formGroup]="myForm" (ngSubmit)="addNewUser(myForm)" class="form-horizontal">

        <input type="hidden" [formControl]="myForm.get('Id')" id="Id" name="Id"/>

        <div calss="form-group" *ngIf ="isAdd">
            <label for="productName">User Id:</label>
            <input type="text" id="userId" class="form-control" name="userId" placeholder="User Id"
                   [formControl]="myForm.get('UserId')" />
        </div>

        <div calss="form-group" *ngIf="!isAdd">
            <label for="productName">User Id:</label>
            <input type="text" id="userId" class="form-control" name="userId" placeholder="User Id"
                   [formControl]="myForm.get('UserId')" readonly ="readonly" />
        </div><br />

        <div calss="form-group">
            <label for="productName">User Name:</label>
            <input type="text" id="userName" class="form-control" name="userName" placeholder="User Name"
                   [formControl]="myForm.get('UserName')" />
        </div><br />

        <div calss="form-group">
            <label for="productName">Address:</label>
            <input type="text" id="address" class="form-control" name="address" placeholder="Address"
                   [formControl]="myForm.get('Address')" />
        </div><br />

        <div calss="form-group">
            <label for="productName">Contact Number:</label>
            <input type="text" id="contactNo" class="form-control" name="contactNo" placeholder="Contact Number"
                   [formControl]="myForm.get('ContactNo')" />
        </div><br />

        <div calss="form-group">
            <label for="productName">Email Id:</label>
            <input type="text" id="email" class="form-control" name="email" placeholder="Email Id"
                   [formControl]="myForm.get('EmailId')" />
        </div><br />

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;&nbsp;
            <a href="" class="btn btn-danger" [routerLink]="['/userList']">Cancel</a>
        </div><br />

    </form>

    

</div>
